.pds-hidden-password {
  display: inline-flex;
  align-items: center;
  height: 6px;
  gap: var(--spacing-1);
  white-space: nowrap;
}

.pds-hidden-password__circle {
  width: 6px;
  height: 6px;
  border-radius: var(--radius-full);
  background-color: var(--pds-grey-6);
  flex-shrink: 0;
}
